@use "sass:color";
@use "sass:map";

$font-family-sans-serif: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-heading: "Playfair Display", "Georgia", "Times New Roman", serif;

$color-accent: hwb(20 15% 20%);
$color-accent-soft: color.scale($color-accent, $lightness: 15%);
$color-dark: #2b1a14;
$color-text: #322318;
$color-body-bg: hwb(0 92% 8% / 0.527);
$color-surface: #ffffff;
$color-border-subtle: rgba(0, 0, 0, 0.06);

$shadow-soft: 0 0.75rem 2rem rgba(0, 0, 0, 0.12);

$radius-lg: 1.5rem;
$radius-md: 1rem;
$radius-sm: 0.75rem;

$spacings: (
  "xs": 0.5rem,
  "sm": 1rem,
  "md": 1.5rem,
  "lg": 2rem,
  "xl": 3rem
);

@function space($size-name) {
  @return map.get($spacings, $size-name);
}
